<template id="template">
    <style>
        /*<!-- Add some styles here -->*/
        .badge {
            width: 100%;
            border-radius: 10px;
            background: lightblue;
            height: 400px;
        }

        .badge-header {
            width: 100%;
            padding: 20px;
        }

        .badge-header h1, .badge-header h2 {
            color: white;
            text-align: center;
            margin: 0;
            font-family: Helvetica;
        }

        .badge-content h3 {
            text-align: center;
            margin: 0;
            font-family: Helvetica;
            font-size: 5em;
        }

        .badge-content {
            height: 200px;
            background: white;
        }

    </style>
    <!--&lt;!&ndash; Add HTML for your component here.-->
    <!--Try adding <content></content> to project from the light DOM &ndash;&gt;-->
    <div class="badge">
        <div class="badge-header">
            <h1>Hello</h1>
            <h2>My Name is:</h2>
        </div>
        <div class="badge-content">
            <h3><content></content></h3>
        </div>
        <div class="badge-footer">

        </div>
    </div>
</template>
<script>
    var createElement = function(tagName, templateId, basePrototype) {
        basePrototype = basePrototype || HTMLElement.prototype;
        var template = document.currentScript.ownerDocument.getElementById(templateId).content;
        var customElementPrototype = Object.create(basePrototype);
        customElementPrototype.createdCallback = function() {
            var shadowRoot = this.createShadowRoot();
            var clone = document.importNode(template, true);
            shadowRoot.appendChild(clone);
        };
        return document.registerElement(tagName, {
            prototype: customElementPrototype
        });
    };
    // Initialize your component here with the above function!
    createElement("my-badge","template");
</script>